img{
  width: 100%;
}

.post-container{ 
  overflow: hidden;
  background-color: #eee;
  height: 100%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.164);
  border-radius: 5px;
  transition: 0.2s
}

.post-container:hover{ 
  transform: scale(1.03)
}

.post-body{
  padding: 5px;
}